.tabs {
    list-style-type: none;
    display: flexbox;
    position: fixed;
    background-color: var(--accent-bg-purple);
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
